body {
  text-align: center;
  color: black;
  justify-content: center;
  line-height: 2;
  font-family: Times New Roman;
  display: flex;
}
header {
  position: fluid;
  z-index: 999;
   width: 100%;
  height: 80px;
  top: 0;
}
nav-link {
  target="_blank";
}

Journalism {
  target="_blank";
  background-color: navy;
}
Computer Programming {
  target="_blank";
}
Social Media {
target="_blank";
}
