body {
  text-align: center;
  justify-content: center;
  line-height: 2;
  font-family: Times;
  color: white;
  display: flex;
  flex-direction: column;
  background-image: url("https://i.pinimg.com/originals/84/5a/40/845a40b0e1e99c881e721874ca53d283.jpg");
}
