body {
  text-align: center;
  justify-content: center;
  line-height: 2;
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  background-image: url("https://i.pinimg.com/originals/93/8b/a9/938ba925943764901f2c2889ea835d42.jpg");
}
footer {
  text-align: center;
}
a:hover {
    background-color: white;
  }
.socials {
  justify-content: center;
  text-align: center;
  background-color: grey;
}
